.blue {
    color: #007bff;
}
.indigo {
    color: #6610f2;
}
.purple {
    color: #6f42c1;
}
.pink {
    color: #e83e8c;
}
.red {
    color: #dc3545;
}
.orange {
    color: #fd7e14;
}
.yellow {
    color: #ffc107;
}
.green {
    color: #28a745;
}
.teal {
    color: #20c997;
}
.cyan {
    color: #17a2b8;
}
.white {
    color: #ffffff;
}
.gray {
    color: #6c757d;
}
.gray-dark {
    color: #343a40;
}
